    <!--EACH USER HAS OWN LIST-->
    <!--Separate apps in vue for user login and for page of lists-->
    <!--List are made up of cards-->
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- always put your name in your work -->
        <meta name="author" content="Robert C. Duvall">
        <!-- stop the web browser from ever caching this page or its images -->
        <meta http-equiv="Cache-Control" content="no-cache" />
        <meta http-equiv="Pragma" content="no-cache" />
        <meta http-equiv="Expires" content="0" />
        <!-- libraries neded for this page -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.13/vue.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/vuefire/1.4.5/vuefire.js"></script>
        <!-- support for this page -->
        <link rel="stylesheet" href="trello_css/trello_style.css">
        <link type="text/css" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script type="text/css" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script src="https://www.gstatic.com/firebasejs/4.10.1/firebase.js"></script>
        <script src="trello_JS/trello_js.js" async></script>
        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <title>ToDo List</title>
    </head>

    <body>
      <!--Web Page Header-->
        <header class="header">
            <h1>Your To-Do Lists!</h1>
        </header>
        <br></br>

       <div id="Board" class="row">
         <!--<input class="background_color_set" placeholder="Set Background Color" v-model="backgroundColor"/>
         <br></br>-->
         <!--This div container sets up user sign up and user sign ins-->
         <div class="all_user_info row col-lg-12 col-md-12 col-sm-12">
           <div v-cloak class="new_user_info col-lg4 col-md-4 col-sm-4">
             <h4 id="new_user_inputs"> Sign Up Here!</h4>
             <!--Input boxes for new user emails and usernames, adds to the array "users" via user_sign_up button-->
             <input class="new_user_name" placeholder="Enter Your Username!" v-model="newUserName"/>
             <input class="new_user_email" placeholder="Enter Your Email!" v-model="newUserEmail"/>
             <select name="user_img_select" v-model="newUserImg">
              <option disabled value="">Select Image</option>
              <option value="1"> Sports Image </option>
              <option value="2"> Arts Image </option>
              <option value="3"> Music Image </option>
              <option value="4"> School Image </option>
             </select>
             <button class="user_sign_up" @click="addUserInfo"><p>Click Here to Sign Up!</p></button>
           </div></br>
           <div v-cloak class="returning_user_info col-lg-4 col-md-4 col-sm-4">
             <h4 id="returning_user_inputs"> Sign In Here! </h4>
             <!--Input boxes for returning user emails and username sign-ins;
             checks if username and email match a previously signed up user via the user_sign_in button-->
             <input class="return_user_name" placeholder="Enter Username or Email!" v-model="returnName"/>
             <!--<input class="return_user_email" placeholder="Enter Your Email!" v-model="returnEmail"/>-->
             <button class="user_sign_in" @click="signIn"><p>Click Here to Sign In!</p></button>
           </div></br>
           <!--All of the input boxes and buttons needed to edit username and emails-->
           <div v-cloak class="edit_user_info col-lg-4 col-md-4 col-sm-4">
             <h4 id="edit_user_title">Edit User Info:</h4>
             <div class="edit_user_name col-lg-5 col-md-5 col-sm-5">
               <input class="old_user_name" placeholder="Old Username" v-model="changeUserOld"/>
               <input class="new_user_name" placeholder="New Username" v-model="changeUserNew"/>
               <button class="new_user_name_swap" @click="editUserName"><p>Change Username</p></button>
             </div>
             <div class="col-lg-2 col-md-2 col-sm-2"></div>
             <div class="edit_user_email col-lg-5 col-md-5 col-sm-5">
               <input class="old_user_email" placeholder="Old Email" v-model="changeEmailOld"/>
               <input class="new_user_email" placeholder="New Email" v-model="changeEmailNew"/>
               <button class="new_user_email_swap" @click="editUserEmail"><p>Change Email</p></button>
             </div>
           </div>
         </br></br>
         </div>
         <!--Button creates new list by calling newList() function in methods section-->
        <button class="new_list_maker" @click="newList">Make A New List!</button> </br>
        <!--Button displays activities log for user to see all activities on the page-->
        <button class="activities_show" @click="showActivities">Show Activities Log</button></br>

        <!--Loop through all each list object in lists array found in data section of javascript code-->
         <div id="list_div" v-for="list in lists" class="col-lg-3 col-md-3 col-sm-5" :style='list.styleData'>
           <!--Add buttons left and right in order to shift the order of the lists; call method from vue app-->
           <button class="move_left" @click="move_up(list.id)"><p><</p></button>
           <button class="collapse_stuff" @click="collapse_cards(list.id)"><p>Collapse</p></button>
           <button class="expand_stuff" @click="expand_cards(list.id)"><p>Expand</p></button>
           <button class="move_right" @click="move_down(list.id)"><p>></p></button>
           <!--Each list has three input boxes (v-models) that add to its data object; title, background-color, and cards to add-->
           <div class="input_boxes">
             <input class="title_input" placeholder="Enter List Title" v-model="list.tempTitle" @keyup.enter="setTitle(list.id)"/>
             <input class="bgc" placeholder="Enter Background Color" v-model="list.tempColor" @keyup.enter="listColor(list.id)"/>
             <!--Users can input tasks with specified deadlines (specifying a deadline is not necessary to enter a task)-->
             <input class="task_input" placeholder="Enter Task!" v-model="list.newCard" @keyup.enter="addNewCard(list.id)"/>
             <input class="deadline_input" placeholder="Enter Deadline!" v-model="list.newDeadline" @keyup.enter="addNewCard(list.id)"/>
           </div>
           <h3>{{list.title}}</h3>
           <!--Must loop through every card in the cards array of each list in order to build the lists with cards-->
           <div id="list_cards" class="collapse" v-for="card in list.cards" :style='list.styleData'>
             <li class="cards_li col-12" :style='card.styleData'>
               {{card.task}}
               <!--Button removes cards when pressed-->
               <button class= "card_move_right col-2" @click="card_right(list.id, card)"><p>></p></button>
               <button class = "card_remove col-2" @click="removeCard(list.id, card)"><p>x</p></button>
               <button class= "card_move_left col-2" @click="card_left(list.id, card)"><p><</p></button>
               <!--Drop down menue to categorize cards, on change, call the card_cat function to change the color-->
               <select class="card_cats" name="card_cats" v-model="card.cardCategory" @change="card_cat(list.id, card)">
                 <option disabled value="">Category/Status</option>
                 <option value="urgent">Urgent</option>
                 <option value="normal">Normal</option>
                 <option value="minor">Minor</option>
                 <option value="inProgress">In Progress</option>
                 <option value="completed">Completed</option>
               </select>
               <input class="card_comments" v-model="card.cardComment" placeholder="Comments" @keyup.enter="addComment(list.id, card)"/> <br></br>
               <div><button class="see_more" @click="cardInfo(list.id, card)"><p>See More</p></button></div>
             </li>
           </div>
           <!--Drop down menu of filters to select from in order to filter visible cards based on categories-->
          <select class="card_filt" name="card_filters" v-model="list.filter" @change="card_filter(list.id)">
            <option disabled value="">Filter Cards</option>
            <option value="none">None</option>
            <option value="urgent">Urgent</option>
            <option value="normal">Normal</option>
            <option value="minor">Minor</option>
            <option value="inProgress">In Progress</option>
            <option value="completed">Completed</option>
          </select>
          <!--Button at the end of each list removes the entire list from the board-->
         <button class="list_removal" @click="removeList(list.id)">Remove This List!</button>
         <!--<button class="list_removal" @click="removeList(list.id)">Remove This List!</button>-->
         </div>
       </div>
    </body>
    </html>
